.hero {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/hero.png.jpg') center/cover fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}

.box {
    width: 630px;
    height: 306px;
    margin-top: 354px;
    margin-left: 80px;
    padding: 24px 40px 32px 40px;
    gap: 20px;
    opacity: 0px;
    background: linear-gradient(to bottom right, #1CBDDD, #4DCA79);
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;


  }

  .box-align{
    margin-top: 354px;
  }

  .box .box-text{
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    font-family: Inter;
    letter-spacing: -2%;
    font-weight: 700;

  }

  .box .button {
    background-color: #F28D35;
    width: 219px;
    height: 38px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -2;
    gap: 8px;
    border-radius: 4px;
    padding: 12px 20px;
}


/* ----------------------------------------------------  Breakpoints */


@media (max-width: 1200px) {
    .hero {
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .hero {
        background-image: url('../../assets/hero.png.jpg'); 
        background-size: cover;
    }

    .box {
        width: 80%;
        margin: 50px auto;
    }
}

@media (max-width: 375px) {
    .hero {
        background-image: url('../../assets/hero02.png'); 
        width: 462.19px;
        height: 327.5px;
        top: -106px;
        gap: 0px;
        opacity: 0px;
    }

    .box {
        width: 90%;
        margin: 30px auto;
        padding: 20px;
        font-size: 36px;
        line-height: 40px;
    }

    .box .button {
        width: 160px;
        height: 32px;
        font-size: 12px;
        line-height: 12px;
    }
    .box .box.text{
        font-size: 36px;
    }
}
