.Frame499 {
    background-color: white;
    padding: 40px;
  }
  
  .Frame499_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: left; 
  }
  
  .Frame_img {
    width: 100%;
    max-width: 346px;
    height: auto;
    background-color: white;
    margin: 0 auto; 
  }
  .title{
    margin-bottom: 1%;
}
  .Frame499_data {
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
    text-align: left; 
    color: #6B3CC9;
  }
  
  .Frame499_description {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 20px;
    color: black;
  }
  
  .button {
    background-color: #F28D35;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    width: auto;
    height: 38px;
    padding: 12px 20px;
    border-radius: 4px;
  }
  
/* ----------------------------------------------------  Breakpoints */
  
  @media (max-width: 1200px) {
    .Frame499_container {
      gap: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .Frame499_container {
      grid-template-columns: 1fr;
    }
  
    .Frame_img {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 375px) {
    .Frame499_container {
      gap: 10px;
    }
  
    .Frame499_data,
    .Frame499_description {
      font-size: 16px;
    }
  }
  