@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
}

body {
  background: #F5F5F5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}


.container {
  padding-left: 5%;
  padding-right: 5%;
}

/* .button {
  background-color:#F28D35;
  width: Hug (214px)px;
  height: Hug (38px)px;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  
  font-size: 16px;
  cursor: pointer;
  border: 0;
  outline: 0;
} */

